.menuItems {
  display: flex;
  align-items: center;

  a {
    padding: .5em 1em;

    &:hover {
      background: #e0e0e0;
    }
  }
}

.is-active {
  .menuItems {
    flex-direction: column;

    a {
      width: 100%;
      text-align: center;
    }
  }
}
