@charset "utf-8";

$navbar-background-color: #ffffff;
$title-color: #0d3163;
$footer-color: $title-color;
$body-background-color: #e3e3e3;
$body-color: #323438;

@import "~bulma/bulma.sass";

.navbar-brand {

  .navbar-item {
    color: $title-color;
    font-family: cursive;
    font-size: 1.6em;
    font-weight: bold;
  }

}
